extends layout

block content

  .container
    if (requests.length == 0)
      .row
        hr
      .row
        h4.text-center.blank-message You haven't shared any songs with your friends yet
      .row
        hr
    else
      .row
        - for (var i = requests.length - 1; i >= 0; i--)
          - var request = requests[i]
          .col-xs-12.col-md-4.col.xl-3
            if (request.requester_name == session.user.username)
              h4 Shared with 
                =request.receiver_name
            else
              h4 Listened with  
                =request.requester_name
            iframe(class='youtube-player' type='text/html' width='260' height='158' src='http://www.youtube.com/embed/' + request.video_id allowfullscreen frameborder='0')
            hr