extends layout

block content
  .container
    h1 Inbox

  .container
    .row
      .col-xs-6.col-sm-3.col-lg-2
        .h4 Bob Durand:
        a(href='listen')
          img.img-responsive.album-selector(src='http://ecx.images-amazon.com/images/I/81tEvdYVSPL._SL1417_.jpg', alt='album art')
          p M83 - Outro
      .col-xs-6.col-sm-3.col-lg-2
        .h4 Bob Durand:
        a(href='listen')
          img.img-responsive.album-selector(src='http://ecx.images-amazon.com/images/I/81tEvdYVSPL._SL1417_.jpg', alt='album art')
          p M83 - Outro
