extends layout

block content
  div.jumbotron
    .container
      .col-xs-12
      h1.text-center= title
      h4.text-center Welcome to SongShare!
      -if (!session.user)
        .row
          .col-xs-12.col-sm-6.col-sm-offset-3.col-lg-4.col-lg-offset-4
            form.form-horizontal.form-center#formLogin(name='login' method='post' action='/login' role='form')
              .form-group
                input.form-control(type='text' placeholder='Username' name='username')
              .form-group
                input.form-control(type='password' placeholder='Password' name='password')
              button.btn.btn-sm.btn-success.pull-left(type='submit') Sign in
              a.btn.btn-sm.btn-primary.pull-right(href='signup' role='button') Sign up