extends layout

block content
  div.jumbotron
    .row
      .col-xs-12.col-sm-10.col-sm-offet-1.col-md-8.col-md-offset-2.col-lg-6.col-lg-offset-3
        img.img-responsive.center-block(src='/images/blue_logo_sized.png' alt='Songshare')
    .container   
      hr
      h4.text-center Welcome to Songshare!
      -if (!session.user)
        .row
          .col-xs-12.col-sm-6.col-sm-offset-3.col-lg-4.col-lg-offset-4
            form.form-horizontal.form-center#formLogin(name='login' method='post' action='/login' role='form')
              .form-group
                input.form-control(type='text' placeholder='Username' name='username')
              .form-group
                input.form-control(type='password' placeholder='Password' name='password')
              button.btn.btn-sm.btn-success.pull-left(type='submit') Sign in
              a.btn.btn-sm.btn-primary.pull-right(href='signup' role='button') Sign up