extends layout

block content
  .row
    .col-xs-12
      h1= title
      p Welcome to #{title}
      a(href='picksong') Choose Song

  .container
    .row
        .span12
          form.form-horizontal(action='', method='POST')
            fieldset
              #legend
                legend. Login
              .control-group
                // Username 
                label.control-label(for='username') Username
                .controls
                  input#username.input-xlarge(type='text', name='username', placeholder='Username')
              .control-group
                // Password
                label.control-label(for='password') Password
                .controls
                  input#password.input-xlarge(type='password', name='password', placeholder='Password')
              .control-group
                // Button 
                .controls
                  button.btn.btn-success Login
