doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='apple-mobile-web-app-capable' content='yes')
    meta(name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;")
    title= title
    // Bootstrap
    link(href='/css/bootstrap.min.css', rel='stylesheet')
    link(href='/css/bootstrap-switch.min.css', rel='stylesheet')
    link(href='/css/style.css', rel='stylesheet')

    script(src='https://code.jquery.com/jquery.js')
    script(src='/js/bootstrap-switch.min.js')
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
  body(onload="window.top.scrollTo(0,1);")
    // navbar
    nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
      .navbar-header
        .container
          -if (session.user)
            a.navbar-link.pull-left(onclick='window.history.back()')
              span.glyphicon.glyphicon-chevron-left
          a.navbar-brand(href='#')= title
          -if (session.user)
            a.navbar-link.pull-right(href='/logout')
              span.glyphicon.glyphicon-off

    .container
      block content

    nav.navbar.navbar-inverse.navbar-fixed-bottom(role='navigation')
      .container
        -if (session.user)
          .navbar-header
            ul.nav.nav-pills
              li.active: a(href='/user/' + session.user.username): span.glyphicon.glyphicon-home
              li.active: a(href='/requests'): span.glyphicon.glyphicon-inbox
              li.active: a(href='/friends'): span.glyphicon.glyphicon-user
              li.active: a(href='/history'): span.glyphicon.glyphicon-time

    script.
      $("#availability-toggle").bootstrapSwitch();
      $("#availability-toggle").on('switchChange', function (e, data) {
        var $element = $(data.el),
              value = data.value;
        changeAvailability(session.username, value, db);
        alert(value);
      });
    // jQuery (necessary for Bootstrap's JavaScript plugins)    
    // Include all compiled plugins (below), or include individual files as needed
    script(src='/js/bootstrap.min.js')
    script(src='/js/songsearch.js')
    script(src='/js/availability.js')
    script(src="https://apis.google.com/js/client.js?onload=handleClientLoad")

