doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title= title
    // Bootstrap
    link(href='/css/bootstrap.min.css', rel='stylesheet')
    link(href='/css/style.css', rel='stylesheet')
    script(src='https://code.jquery.com/jquery.js')
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
  body

    // navbar
    .navbar.navbar-inverse.navbar-fixed-top(role='navigation')
      .container
        .navbar-header
          button.navbar-toggle(type='button' data-toggle='collapse' data-target='.navbar-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/') SongShare
        .navbar-collapse.collapse
          ul.nav.navbar-nav
            li: a(href='/') Home
            li: a(href='/userlist') Explore Users            
          -if (session.user)
            ul.nav.navbar-nav.navbar-right
              li: a(href='/user/' + session.user.username) 
                =session.user.username
              li: a(href='/inbox') Inbox
              li: a(href='/logout') Log Out
          -else
            form#formLogin.navbar-form.navbar-right(name='login' method='post' action='/login' role='form')
              .form-group
                input.form-control(type='text' placeholder='Username' name='username')
              .form-group
                input.form-control(type='password' placeholder='Password' name='password')
              button.btn.btn-success(type='submit') Sign in
          
            

    .container
      block content
    // jQuery (necessary for Bootstrap's JavaScript plugins)    
    // Include all compiled plugins (below), or include individual files as needed
    script(src='/js/bootstrap.min.js')
    script(src='/js/songsearch.js')
    script(src="https://apis.google.com/js/client.js?onload=handleClientLoad")    

