extends layout

block content

  .container
    .row
      .col-xs-12.col-sm-3
        img.img-responsive.album-art
  .container
    .row
      .col-xs-12.col-sm-4
        .h4 Listening With #{partner_name}        

  .container
    .row
      .col-xs-12
        #player(data-videoid='#{videoId}', data-listeningroomid='#{listeningroom_id}') Please wait until the other listener connects

    p    
    .row
      .col-xs-9        
        input#chatinput.form-control(type='text' placeholder='Message' name='message')        
      .col-xs-3
        button#chatsubmit.btn.btn-success(type='submit', data-username='#{session.user.username}') Submit
    .row
      .col-xs-12
        #chatroom


  script(src="/socket.io/socket.io.js")
  script(src='/js/videoplayer.js')