extends layout

block content
  -var friends = session.user.friends
  -if (!friends || friends.length == 0)
    .container
      h1 Please add some friends
   
  -else
    .container
      h1 Pick a friend

    .container
      .row
        each friend, i in friends
          .col-xs-6.col-sm-3                
            img.img-responsive.img-circle.friend-selector(src='http://www.american.edu/uploads/profiles/large/chris_palmer_profile_11.jpg', alt='dude')
            form#formCreateListenRoom(name='createRoom' method='post' action='/listen' role='form')
              .form-group
                input.form-control(type='hidden' name='username' value=friend)
              .form-group
                input.form-control(type='hidden' name='videoid' value=videoId)
              button.btn.btn-link(type='submit') 
                =friend
