extends layout

block content
  h1.
    Users

  ul.list-unstyled
    each user, i in users
      if (!(session.user && user.username == session.user.username))
        li
          a(href="/user/" + user.username)= user.firstname + " " + user.lastname