body {
  padding-top: 60px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  /*background: -webkit-radial-gradient(circle, #9ADAFF, #FFF2C0);*/
}

a {
  color: #00B7FF;
}

.navbar-collapse div {
  margin-right: 5px;
}

.profile-picture {
	padding: 1%;
}

.album-selector {
	padding: 5%;
	margin-top: 5%;
	margin-bottom: 1%;
}

.friend-selector {
	padding: 10%;
	margin-top: 5%;
}

.album-art {
	padding: 5%;
}

.listening-with-list {
	margin-top: 10px;
}

.hidden-xs .h5 {
	position: relative;
	bottom: -20px;
}

.user-status {
  opacity: 0.5;
}

.user-online {
  color: green;
}

.user-offline {
  color: red;
}