body {
  padding-top: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.navbar-collapse div {
  margin-right: 5px;
}

.container {
	padding-top: 10px;
}

.albumart{
	padding: 10px;
}