body {
  padding-top: 60px;
  padding-bottom: 60px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  min-height: 700px;
}

a {
  color: #00B7FF;
}

.navbar-collapse div {
  margin-right: 5px;
}

.profile-picture {
	padding: 1%;
}

.video-selector {
	padding: 20px;
}

.video-title {
  display:block;
  width:100%;
  height:40px;
  vertical-align: text-bottom;
  overflow:scroll;
}

.video-thumbnail {
  margin-bottom: 10px;
}

.friend-selector {
	padding: 10%;
	margin-top: 5%;
}

.friend-search {
  margin-bottom: 5px;
}

.chat-box {
  margin-top: 5px;
}

.add-friend-button {
  position:relative;
  top:-9px;
}

.remove-friend-button {
  position:relative;
  top:6px;
}

.dashboard-share {
  position:relative;
  top:-8px;
}

.dashboard-share-song {
  margin-top: 5px;
}

.album-art {
	padding: 5%;
}

.listening-with-list {
	margin-top: 10px;
}

.hidden-xs .h5 {
	position: relative;
	bottom: -20px;
}

.user-status {
  opacity: 1;
  margin-right: 10px;
}

.user-online {
  color: #43ac6a;
}

.user-offline {
  color: #f04124;
}

.blank-message {
  line-height: 150%;
}

.nav-pills li {
  float:none;
  display:table-cell;
  width:1%;
  text-align:center;
}

.navbar-fixed-top .navbar-header {
    float: left;
    padding: 15px;
    text-align: center;
    width: 100%;
}
.navbar-brand {float:none;}

.sign-up-button {
  margin-left: 5px;
}